#controlContainer, #contentContainer{
    display:flex;
    justify-content: center;
}
#gridContainer{
    display:flex;
    flex-direction:column;
    width:500px;
    height:500px;
    border:2px solid black;
}
.grid-row{
    display:flex;
    flex-direction:row;
    flex: 1 1 10px;
}
.grid-cell {
    flex:1 1 10px;
}
.grid-hover{
    background-color:black;
}