#controlContainer, #contentContainer{
    display:flex;
    justify-content: center;
    margin:20px;
}
#gridContainer{
    display:flex;
    flex-direction:column;
    width:500px;
    height:500px;
}
.grid-row{
    display:flex;
    flex-direction:row;
    flex: 1 1 10px;
}
.grid-cell {
    flex:1 1 10px;
    background-color:teal;
}
.grid-hover{
    background-color:orangered;
}